@charset "utf-8";

:root{
  --base_txtColor:#333;
}

*{margin:0px;padding:0px;}
ul, li, ol{list-style:none;}
a{text-decoration:none;color:var(--base-txtColor);}
body{
  font-family: "맑은 고딕", arial, sans-serif;
  font-size:13px;
  color:var(--base_txtColor);
}